img{
    height: 150px;
    width: 200px;
}

.container{
    margin-top: 10px;
    text-align: center;
    background-color: rgb(233, 201, 142);
}

body{
    background-image: url("../images/paper.jpeg")

}